<footer>
    <img src="/assets/SolarSpell_Primary_tsp.png" alt="SolarSPELL logo">
    <img src="/assets/asu-logo-black.png" alt="Arizona State University Black logo">
    <br>
    <a [routerLink]="['/about']" class="button">About Us</a> 
    <section id="footerText">
      <p>SolarSPELL (Solar Powered Educational Learning Library) works to build internet-ready
        skills and improve educational opportunities around the world.</p>
      <br>
      <p>Contact us at <a href="mailto:team@solarspell.org">team@solarspell.org</a></p>
    </section>
</footer>